*{
    
}

body{
    background-color: hsl(160, 23%, 95%);
}


h1{
    color: #000000;
    text-align: center;
}

p{
    color: #a52a2a;
}

.lnb {
    float: right;
    padding: 0px 0 0 0px;
    height: 00px;
    vertical-align: top;
}

