@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
*{
  list-style: none; 
}

body{
    background-color: hsl(160, 23%, 95%);
}


h1{
    color: #000000;
    text-align: center;
}

h1:hover {
    color: red;
}

p::before { 

    content: "💪🏽💪🏽";
}

.lnb {

    float: right;
    padding: 30px 0 0 0px;
    height: 0px;
    vertical-align: top;
}

div p{
    color: #008000;
}

.amarillo{
    color: #ffff00;
}

.azul{
    color: #0000ff;
}

.rojo{
    color: #ff0000;
}

div#contenedor strong {
    color: #ffa500;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
}

.arial { 
    font-family: 'Square Peg', cursive;
    color: #070f0f;
    font-size: 30px;
}

a:link {
    color: blue;
}

a:visited { 
    color: red;
}
